@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-family: 'Fira Sans', sans-serif;
}

#container{
	background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.conteudo{
	background-color: #fff;
	border-radius: 15px;
	width: 70%;
	height: 50%;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.conteudo::before{
	content: "";
	position: absolute;
	background-color: black;
	width: 40%;
	height: 100%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;


	left: 60%;
}

.imagem-primeira-coluna{
	width: 60%;
	z-index: 10;
	text-align: center;
}

.primeira-coluna{
	text-align: center;
	width: 40%;
	z-index: 10;
}

.segunda-coluna{
	text-align: center;
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text{
	line-height: 30px;
}

.primeiro-conteudo{
	display: flex;
	display: none;
}

.primeiro-conteudo .segunda-coluna{
	z-index: 11;
}

.btn{
	margin-top: 30px;
	border-radius: 15px;
	text-transform: uppercase;
	color: black;
	font-size: 13px;
	padding: 10px 50px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color .5s;
}

.btn .btn-primario{
	background-color: transparent;
	border: 1px solid #fff;
}

.btn-primario:hover{
	background-color: black;
	color: #fff;
}

.form{
	padding: 20px;
	display: flex;
	flex-direction: column;
}

/*Segundo conteúdo*/

.segundo-conteudo{
	position: absolute;
	display: flex;
}

.segundo-conteudo .primeira-coluna{
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.segundo-conteudo .segunda-coluna{
	width: 40%;
}

.padding{
	padding: 6px;
}


